@import "./partials/variables";
@import "./partials/global";
@import "./partials/out class";
@import "./partials/header";
@import "./partials/modal";

@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap");

.btn {
  border: 0;
  position: fixed;
  top: 40vh;
  background-color: gray;
  color: white;
  font-size: 2.5rem;
  padding: 1vw 1.5vw;
  z-index: 1;

  &:hover {
    transform: scale(1.02, 1.02);
    border: black 1px solid;
    cursor: pointer;
  }
}

.right-btn {
  right: 0;
}

@import "./partials/mains";

footer {
  display: flex;
  background-color: black;
  width: 100%;
}

.contacts {
  margin: 0 auto;
}

.contacts li {
  display: inline-block;
  color: white;
  padding: 1.25rem;
}

@import "./partials/mediaqueries";
