// Global


@import "./partials/global/variables";
@import "./partials/global/add-on-classes";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}

html {
  font-size: 16px;
  font-family: $primary-font;
  background-color: $clr-secondary-bg;
}

li {
  list-style: none;
  display: inline-block;
}

p,
h2 {
  color: $clr-primary-txt;
  line-height: 1.2;
}
:focus {
  outline: none;
}






.btn {
  border: 0;
  background-color:$clr-secondary-bg;
  color: $clr-secondary-txt ;
  padding: 10px;
  &:hover {

    cursor: pointer;
    background-color: $clr-primary-bg-lighter ;
    color: $clr-primary-txt;
    transition: 0.3s;
  }
}

.right-btn {
  right: 0;
}

footer {
  display: flex;
  background-color: $clr-primary-bg;
  width: 100%;
  flex-direction: column;
  color: $clr-primary-txt;
}

.contacts {
  margin: 0 auto;
}

.contacts li {
  display: inline-block;
  
  padding: 0.5rem;
  *{
    color: inherit;
  }
}


.out-mains {
  background-color: $clr-primary-bg-lighter;
  min-height: 100vh;
  display: flex;  
}

.form-container{
  margin: auto;
  width: 50%;
  height: 60%;
  background-color: $clr-primary-bg;
  padding: 10px;

  h2{
    text-align: center;
    padding:10px;
  }

  form{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .flex-column{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
  }
  .form-control{
    width: 100%;
    padding: 5px;
    resize:vertical;
  }

  .form-btn{
    background-color: $clr-primary-bg-lighter;

  }
}


//index styles
@import "./partials/global/header";
@import "./partials/index/home";
@import "./partials/index/mains";


// gallery styles
@import "./partials/gallery/main";
@import "./partials/gallery/modal";




@import "./partials/global/mediaqueries";

@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Cormorant:ital,wght@1,700&family=Lemonada:wght@600&family=Sniglet&display=swap");

@import "scss/fontawesome.scss";
@import "scss/solid.scss";
@import "scss/brands.scss";
