.no-scroll {
  overflow: hidden;
}

.title {
  font-size: 3.125rem;
  width: 90%;
  margin: 0 auto;
  background-color: #1d1c1c;
  color: $clr-primary-txt;
  text-align: center;
  position: fixed;
  opacity: 90%;
  z-index: 1;
}

.open-grid {
  display: grid;
  // // grid-template-columns: 1fr 1fr;
  // // grid-auto-rows: max-content;
  grid-gap: 0.5em;
  grid-auto-flow: dense;
  grid-template-columns:repeat( auto-fit, minmax(100px, 1fr));
  // grid-template-columns:repeat( 4, fit-content);
  // grid-template-rows:repeat( auto-fit, fit-content);
  // height: auto;
}

.open-grid img {
  // width: 100%;
  // min-height: 25vh;
  height: 100%;
  max-width: 100%;

  &:hover{
    cursor: pointer;
  }
  
  &:hover + .image-overlay{
    display: block;
  }
}

.image-container {
  position: relative;
  min-height: 15vh;
}

.image-overlay {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #4949497e;
  color: $clr-primary-txt;
  font-size: 0.7rem;
  &:hover {
    display: block;
    transition: 1.5;
  }
}


.open-title {
  display: block;
  font-size: 2.122rem;
  width: 100%;
  margin: 0 auto;
  background-color: #1d1c1c;
  color: $clr-primary-txt;
  text-align: center;
  position: fixed;
  opacity: 90%;
  z-index: 1;
}




.close {
  display: none;
}

.open {
  display: block;
}

.pexel-logo {
  width: 10rem;
}

.header-on-scroll-down {
  position: fixed;
  top: 0;
}

.footer-on-scroll-up {
  position: fixed;
  bottom: 0;
}

.horizontal{
  grid-column: span 2;
}

.vertical{
  grid-row: span 2;
  grid-column: span 2;
}

.big{
  grid-row: span 2;
  grid-column: span 2;
}