//header styles

header{
  background-color: $clr-primary-bg;
}



header[data-header-images] {
  padding: 6px;
  z-index: 3;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $clr-primary-bg;
  display: inline-flex;
  flex-flow: row wrap;

  a {

    display: inline-block;
    text-decoration: none;
    padding: 5px;
    color: $clr-primary-txt;

    &:hover {
      color: $clr-primary-txt-hov;
      
    }
  }
}

.header-flex {
  width: 100%;
  display: flex;

  justify-content: space-around;
  flex-flow: row wrap;
  h1 {
    display: none;
    font-family: $secondary-font;
    margin: auto;
  }

  .search-bar {
    font-size: 1rem;
    background-color: white;
    width: 50%;
    align-items: center;
    display: flex;

    form {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      border-radius: 50px 50px;
      button {
        font-size: inherit;
        border: none;
        width: fit-content;
        height: 100%;
        padding: 10px;
        color: $clr-secondary-txt;
        background: $clr-secondary-bg;
        &:hover{
          cursor: pointer;
          color: $clr-primary-txt;
          background-color: $clr-primary-bg-lighter;
        }
      }
      input {
        font-size: inherit;
        width: 100%;
        height: 100%;
        border: none;
        padding:0 5px;
      }
    }
  }

  .burger-nav {
    .bar {
      width: 35px;
      height: 5px;
      background-color: $clr-primary-bg-lighter;
      margin: 6px 0;
    }
  }
}

nav {
  display: none;
  align-self: center;
  margin: 0 auto;

  li {
    padding: 0px 0.625rem;
  }

  a {
    font-family: $third-font;
    font-size: 1.2rem;
    text-decoration: none;
    color: $clr-primary-txt;

    &:hover {
      color: $clr-primary-txt;
    }
  }
}
