header {
  position: fixed;
  padding: 12px;
  display: inline-flex;
  flex-flow: row wrap;
  top: 0;
  width: 100%;
  background-color: #003cff;
  z-index: 3;
  box-shadow: 1px 1px 5px black;

  h1 {
    display: none;
    font-family: $secondary-font;
    padding-left: 2rem;
    text-shadow: 1px 1px 1px black;

    a {
      text-decoration: none;
      color: transparent;

      &:hover {
        color: white;
      }
    }
  }

  nav {
    align-self: center;
    margin: 0 auto;

    li {
      padding: 0px 0.625rem;

      a {
        text-decoration: none;
        color: transparent;
        text-shadow: 1px 1px 1px black;

        &:hover {
          color: white;
        }
      }
    }
  }
}
