
.out-mains {
  background-color: $clr-secondary-bg;
  margin: 2.7rem 0 0;
  color: $clr-primary-txt;

  section {
    min-height: 87vh;
    text-align: center;
    padding: 0 3em;

    h2 {
      font-size: 2.5rem;
      padding: 0.5em 0 0;
    }

    p {
      margin: 1.5em 1em;
    }
  }
}
