#index-main {
  background-color: #1d1c1c;
  margin: 0 auto 3.25rem;

  #grid-container {
    background-color: #2e2c2c;
    margin-top: 44px;
  }
}

.out-mains {
  background-color: #1d1c1c;
  margin: 4.5rem 0 0;
  color: white;

  section {
    min-height: 87vh;
    text-align: center;
    padding: 0 3em;

    h2 {
      font-size: 2.5rem;
      padding: 0.5em 0 0;
    }

    p {
      margin: 1.5em 1em;
    }
  }
}
