@media (min-width: 700px) {
  header {
    padding: 0;
    h1 {
      display: block;
    }

    nav {
      margin: 0px 62px 0px auto;
    }
  }

  .open-title {
    font-size: 3.122rem;
    width: 90%;
  }

  .open-grid img {
    min-height: 19.6875rem;
    max-height: 19.6875rem;
  }

  #index-main {
    width: 90%;
    #grid-container {
      background-color: #2e2c2c;
      margin-top: 63px;
    }
  }

  .contacts {
    margin: 0 50px 0 auto;
  }

  .out-mains {
    margin: 4rem 0 0;
  }

  #modal-img {
    max-height: 85vh;
  }
}
