#modal-box {
  position: fixed;
  background-color: #080808da;
  height: 100vh;
  z-index: 4;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;

  .modal-btn {
    border: 0;
    position: absolute;
    top: 40vh;
    background-color: gray;
    color: white;
    font-size: 2.5rem;
    padding: 1vw 1.5vw;

    &:hover {
      transform: scale(1.02, 1.02);
      cursor: pointer;
    }
  }

  #modal-left-btn {
    left: 0;
  }

  #modal-right-btn {
    right: 1px;
  }

  #modal-close-btn {
    border: 0;
    position: absolute;
    background-color: transparent;
    color: red;
    font-size: 1.1rem;
    margin: 0.5rem;
    right: 7px;

    &:hover {
      transform: scale(1.02, 1.02);
      cursor: pointer;
    }
  }

  #modal-image-container {
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1%;

    #modal-image-wrapper {
      padding-top: 10vh;
      margin: 0 auto;
      width: fit-content;

      #modal-img {
        border-radius: 1%;
        border: black solid 2px;
        max-width: 99.99vw;
        min-height: 20vh;
        max-height: 83vh;
        object-fit: cover;
      }
    }
  }
}
