//header styles

header[data-header-images] {
    padding: 6px;
    z-index: 3;
    width: 100%;
    background-color: $clr-primary-bg;
    display: inline-flex;
    flex-flow: row wrap;
  
    a {
      font-size: 1.5em;
      display: inline-block;
      text-decoration: none;
      padding: 5px;
      color: $clr-primary-txt;
  
      &:hover {
        color: $clr-primary-txt-hov;
        
      }
    }
}

//main styles

main{
  background-color: $clr-secondary-bg;
  overflow: hidden;
}

#grid-container {
  background-color: $clr-primary-bg-lighter;
  margin: 1.2rem auto 1.25rem;
  width: 90%;
  min-height: 100vh;
}


//footer styles