

//main styles

main{
  background-color: $clr-secondary-bg;
  overflow: hidden;
}

#grid-container {
  background-color: $clr-secondary-bg;
  margin: 1.2rem auto 1.25rem;
  width: 90%;
  min-height: 100vh;
}

.banner{
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: $clr-secondary-txt;
  background-color: wheat;
}
//footer styles