

//Modal styles

#modal-box {
  position: fixed;
  min-height: 100vh;
  overflow: overlay;
  background-color: $clr-primary-bg;
  z-index: 4;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  //overflow: hidden;

}
.wrapper{
    width: 95%;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}
.modal-controls{
    position: absolute;
    width: 100%;
    min-height:100%;
}

.modal-btn {
    border: 0;
    position: sticky;
    top: 50vh;
    background-color: $clr-primary-bg-lighter;
    color: $clr-primary-txt;
    font-size: 2.5rem;
    padding: 1vw 0.5vw;
    transition: 0.3s;

    &:hover {
        transform: scale(1.02, 1.02);
        background-color: $clr-secondary-bg;
        color: $clr-secondary-txt;
        cursor: pointer;
    //   padding: 1vw 1.5vw;
    //   transition: 0.3s;
    }
}
    
#modal-left-btn {
left: 0;
border: 0;
}

#modal-right-btn {
left: 100%;
}

#modal-close-btn {
border: 0;
top: 10px;
position: sticky;
background-color: transparent;
color: red;
font-size: 2rem;
left: 100%;

    &:hover {
        transform: scale(1.02, 1.02);
        cursor: pointer;
    }
}
    


.image-details {
    color: $clr-primary-txt;
    letter-spacing: 0.1em;
    font-size: 0.9rem;
}





#modal-image-container {
min-height: 100vh;
display: flex;
padding:50px 0;
width: 90%;
margin: 0 auto;

    #modal-image-wrapper {
        margin: auto;
        width: fit-content;
        text-align: center;
        z-index: 1;
        
        a {
        color: $clr-primary-txt-hov;
        text-decoration: none;
        }
        p {
        color: $clr-primary-txt;
        }

        #modal-img {
        border-radius: 1%;
        max-width: 100%;
        margin: 0 auto;
        display: block;
        }
    }
}


// #modal-box{
//   width: 100%;
//   min-height: 100%;
//   background-color: green;
// }

// .controls{
//     background-color: yellow;
// }

